.resana-connect-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  --c--components--forms-input--border-radius: 8px;

  &__error {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.4;
    padding-bottom: 12px;

    color: var(--c--contextuals--content--semantic--error--secondary);
  }

  &__field {
    width: 100%;

    .c__input__label {
      margin-bottom: 0.5rem;
      font-size: 0.975rem;
      font-weight: 500;
      color: var(--c--contextuals--content--semantic--neutral--primary);
    }

    input::placeholder {
      color: var(--c--contextuals--content--semantic--neutral--tertiary);
    }

    &--otp input {
      letter-spacing: 0.35em;
      font-variant-numeric: tabular-nums;
    }
  }

  &__submit {
    margin-top: 1rem !important;
  }
}
