.suite__header {
  width: 100%;
  z-index: 100;
}

.suite__header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1.5rem;
  min-height: 4rem;
  padding: 0.5rem 0;
}

.suite__header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;

  &-img {
    display: block;
    flex-shrink: 0;
    height: 50px;
    width: auto;
    aspect-ratio: 224 / 60;
  }
}

.suite__header__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
