.header {
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 1.5rem;
  min-height: 4rem;
  padding: 0.5rem 0;
}

.header__logo {
  flex-shrink: 0;
  text-decoration: none;
  position: relative;

  &-img {
    display: block;
    flex-shrink: 0;
    width: auto;
  }
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
