@import '../../cunningham/cunningham-tokens-sass';

$md: map-get($themes, 'default', 'theme', 'breakpoints', 'md');

.suite__workspaces {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
}

.suite__workspace {
  padding: 1.5rem;
  background-color: var(--c--theme--colors--greyscale-000);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  /**
   * Pre export.
   */
  &--pre-export {
    justify-content: space-between;

    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &--exporting {
    @media (max-width: $md) {
      flex-direction: column;
    }
  }

  &__switches {
    display: flex;
    gap: 1rem;
  }

  &__error {
    text-align: right;
    margin-top: 0.5rem;
  }

  &__status {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    @media (max-width: $md) {
      flex-direction: column;
      gap: 0;
    }

    &__unit {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  &__resana-error__details {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__row {
      &__name {
        font-weight: bold;
      }

      &__logs {
        font-style: italic;
      }
    }
  }
}
